@tailwind base;
@tailwind components;
@tailwind utilities;
.glow-effect {
    box-shadow: 0 0 20px 10px rgba(255, 165, 0, 0.6);
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
    }
    to {
        box-shadow: 0 0 20px rgba(255, 165, 0, 1);
    }
}
